{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prix</th>
				<th scope="col">Réference</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>

			{% for element in dataPanier %}
				<tr>
					<td scope="row">{{element.produit.name}}</td>
					<td>{{element.produit.price}}
						€</td>
					<td>{{element.produit.ref}}</td>
					<td>{{element.quantite * element.produit.price}}
						€</td>
					<td>
						<a href="{{path("app_cart_add", {id: element.produit.id})}}" class="btn btn-success">
							<i class="fas fa-plus"></i>
						</a>
						<a href="{{path("app_cart_remove", {id: element.produit.id})}}" class="btn btn-warning">
							<i class="fa-solid fa-xmark"></i>
						</a>
						<a href="{{path("app_cart_delete", {id: element.produit.id})}}" class="btn btn-danger"></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>
						<p>Votre panier est vide</p>
					</td>
				</tr>
			{% endfor %}

		</tbody>

		<tfoot>
			<tr>
				<td colspan="3">Total</td>
				<td class="text-end">{{ total }}
					€</td>
				<td>
					<a href="{{path("app_cart_delete_all")}}" class="btn btn-danger"> Supprimer panier</a>
				</td>
			</tr>
		</tfoot>


	</table>
	<a href="{{path("app_order")}}">Valider</a>

{% endblock %}
