{% extends 'base.html.twig' %}

{% block title %}Enregistrement
{% endblock %}

{% block body %}
	<div class="container pt-5 m-auto">
		<h1 class="text-center">Enregistrement</h1>

		{{ form_start(registrationForm) }}
		{{ form_label(registrationForm.firstname) }}
		{{ form_widget(registrationForm.firstname) }}
		{{ form_label(registrationForm.lastname) }}
		{{ form_widget(registrationForm.lastname) }}
		{{ form_label(registrationForm.phone) }}
		{{ form_widget(registrationForm.phone) }}
		{{ form_label(registrationForm.email) }}
		{{ form_widget(registrationForm.email) }}
		{{ form_label(registrationForm.plainPassword) }}
		{{ form_widget(registrationForm.plainPassword) }}

		<button type="submit" class="
			w-full
			my-4
			px-6
			py-2.5
			bg-blue-600
			text-white
			font-medium
			text-xs
			leading-tight
			uppercase
			rounded
			shadow-md
			hover:bg-blue-700 hover:shadow-lg
			focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
			active:bg-blue-800 active:shadow-lg
			transition
			duration-150
			ease-in-out">Enregistrement</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
